
body {
    background-color: #F1F1F1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftflank {
    margin: 80px 0px 30px 0px;
    text-align: justify;
    justify-content: right;
    width: 12vw;
    padding: 0px 20px 0px 20px;
}

#iceberg {
    font-family: 'Amiri', serif;
    font-size: 14px;
    margin: 40px 0 0 0; 
    color: #303030;
}

p.shoead {
    color: #DD1C1C;
    text-align:right;
    font-size: 12px; 
    font-family:Helvetica; 
    background-color:#E7E7E7;
    width: 70%;
    padding:5px 5px 5px 5px;
    margin: 0 0 0 25%;
}

a.wikipedia {
    text-decoration: none !important;
    color: #305CBB;
}

.sideimg {
    width:100%;
}

.sheet {
    background-color: #fff;
    width: 40%;
    box-shadow: 3px 3px 7px #A3A3A3;
    margin: 20px 0 30px 0px;
    text-align: center;

}

.pageheader {
    font-family: "Reenie Beanie";

}

#ernest {
    font-size: 90px;
    position: relative;
    z-index: 2;
    margin:20px;
    top:40px;
}

#yellowbox {
    position:relative;
    left: 30%;
    padding: 40px;
    top: -80px;
    background: #FFF34D;
    z-index: 1;
    width:60%;
}

.hemingway {
    font-size: 120px;
    z-index: 3;
    position: relative;
    top: -110px;
    margin: 40px;
}

.billingcontainer {
    position: relative;
    top: -70px;
    margin: 0 0 300px 0;    
}


#quoteblock {
    font-family: Lustria,serif;
    font-size: 18px;
    color: #7A7873;
    width: 75%;
    margin: 50px auto;
}

a#billing1 {
    text-decoration: none;
    color: #2B2B2B;
    font-family: 'Open Sans', sans-serif;
}

a#billing1:hover{
    color: #A17E37;
}

a#billing2 {
    text-decoration: none;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
}

a#billing2:hover{
    color: #A17E37;
}

a#billing3 {
    text-decoration: none;
    color: #3D3D3D;
    font-family: 'Open Sans', sans-serif;
}

a#billing3:hover{
    color: #A17E37;
}

a#billing4 {
    text-decoration: none;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
}

a#billing4:hover{
    color: #A17E37;
}

a#billing5 {
    text-decoration: none;
    color: #4E4E4E;
    font-family: 'Open Sans', sans-serif;
}

a#billing5:hover{
    color: #A17E37;
}

a#billing6 {
    text-decoration: none;
    color: #575757;
    font-family: 'Open Sans', sans-serif;
}

a#billing6:hover{
    color: #A17E37;
}

a#billing7 {
    text-decoration: none;
    color: #5E5E5E;
    font-family: 'Open Sans', sans-serif;
}

a#billing7:hover{
    color: #A17E37;
}

.rightflank {
    margin: 150px 0px 20px 1vw;
    justify-content: right;
    width: 10vw;
    padding: 0px 20px 0px 20px;
    height: 100px;
}

figure {
    margin:0;
}

figcaption {
    font-size: 10px;
    width: min-content;
    color: #303030;
}
.sidequote {
    font-family: 'Amiri', serif;
    font-size: 12px;
    margin:6vh 0 0 0;
    color: #D82F2F;
}

@font-face {
    font-family: 'Reenie Beanie';
    src: local('Reenie Beanie'), local('ReenieBeanie'), url(https://fonts.gstatic.com/s/reeniebeanie/v7/ljpKc6CdXusL1cnGUSamXzxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
}